<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.base" value="./logs/" />
	<property name="log.name" value="knowledge" />
	<!-- 日志输出到文件，每天一个  -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}${log.name}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}${log.name}.%d{yyyy-MM-dd}-%i.log</FileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern><![CDATA[[%d{yyyy-MM-dd HH:mm:ss}] %-5level [%X{userName} - %X{clientIp}] %logger - %msg%n]]></pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>